<template>
  <div id="app" class="container">
    <app-header></app-header>
    <div class="row">
      <div style="width: 100%">
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from './components/Header.vue';
import { Action } from 'vuex-class';

const namespace: string = 'authentication';

@Component({
  components: {
    appHeader: Header
  }
})
export default class App extends Vue {

  @Action('tryAutoLogin', { namespace }) tryAutoLogin: any;

  created() {
    this.tryAutoLogin();
  }

}

</script>

<style>
body {
  padding: 30px;
}

nav {
  margin-bottom: 30px;
}

.slide-enter-active {
    animation: slide-in 1s ease-out forwards;
}

.slide-leave-active {
    animation: slide-out 200ms ease-out forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(-30px);
        opacity: 0
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}

</style>
