<template>
    <div>
        <div class="card text-center">
            <div class="card-header">
                {{portfolio.stock.name}} - Quantity: {{portfolio.quantity}}
                <small>(Price: {{portfolio.stock.value}})</small>
            </div>
            <div class="card-body">
                <div class="card-title">
                <input class="form-control card-text" type="number" placeholder="Quantity" v-model="quantity">
                </div>
                <button class="btn btn-success"
                        @click="sellStock"
                        style="float: right"
                        :disabled="disabledSellingButton">Sell</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Portfolio } from '../../model/Portfolio';
import { Action, Getter } from 'vuex-class';
import { StockOrder } from '../../model/StockOrder';

const namespace: string = 'portfolios';

@Component
export default class PortfolioComponent extends Vue {
    quantity: number | null = null;
        
    @Action('sellPortfolio', { namespace }) sellPortfolio: any;
    @Getter('funds') funds!: number;

    @Prop()
    private portfolio!: Portfolio

    sellStock() {
        if (this.quantity) {
            this.sellPortfolio(new StockOrder(this.portfolio.stock, this.quantity))
        }    
    }

    get disabledSellingButton() {
        if (this.quantity) {
            return this.quantity <= 0 || Number(this.quantity) > Number(this.portfolio.quantity);
        } else {
            return true;
        }
    }
}
</script>

<style>

</style>
