<template>
    <div>
        <app-portfolio-list></app-portfolio-list>
    </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import PortfolioListComponent from '../components/portfolio/PortfolioList.vue';
@Component({
  components: {
    appPortfolioList: PortfolioListComponent,
  }
})
export default class PortfoliosView extends Vue {

}
</script>

<style>

</style>
