<template>
    <div>
        <app-stock-list></app-stock-list>
    </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import StockListComponent from '../components/stock/StockList.vue';
@Component({
  components: {
    appStockList: StockListComponent,
  }
})
export default class StockListView extends Vue {

}
</script>

<style>

</style>
