<template>
    <div>
        <app-stock class="stock-grid" v-for="stock in stocks" :stock="stock"></app-stock>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator';
import StockComponent from './Stock.vue';
import { Stock } from '../../model/Stock';
import { Action, Getter } from 'vuex-class';
import { StocksState } from '@/store/stocks/types';

const namespace: string = 'stocks';

@Component({
    components: {
        appStock: StockComponent
    }
})
export default class StockListComponent extends Vue {

    @Getter('stocks', { namespace }) stocks!: Stock[];
    @Action('initStocks', { namespace }) initStocks: any;

    public created() {
        this.initStocks();
    }
}
</script>

<style scoped>
    .stock-grid {
        display: inline-block;
        width: 31%;
        margin: 10px 10px;
    }
</style>
