<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link to="/" class="navbar-brand">Stock Trader</router-link>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <router-link v-if="isAuth" to="/" tag="li" class="nav-item"><a class="nav-link">Home</a></router-link>
        <router-link v-if="isAuth" to="/portfolios" tag="li" class="nav-item"><a class="nav-link">Portfolio</a></router-link>
        <router-link v-if="isAuth" to="/stocks" tag="li" activeClass="active" class="nav-item"><a class="nav-link">Stocks</a></router-link>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <ul class="navbar-nav mr-auto">
          <template v-if="isAuth">
          <li class="nav-item">
            <span class="nav-link">Hello {{username}}</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">Your Funds: {{funds | currency}}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" @click="endDay">End Day</a>
          </li>
          <li class="nav-item dropdown" :class="{show: isDropdownOpen}" @click="isDropdownOpen = !isDropdownOpen">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" :aria-expanded="isDropdownOpen">
              Save & Load
            </a>
            <div class="dropdown-menu" :class="{show: isDropdownOpen, dropDown: isDropdownOpen}" 
            aria-labelledby="navbarDropdown">
            <a class="dropdown-item" @click="saveData">Save Data</a>
            <a class="dropdown-item" @click="loadData">Load Data</a>
          </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" @click="logout">Log out</a>
          </li>
          </template>
          <template v-if="!isAuth">
            <router-link to="/login" tag="li" class="nav-item"><a class="nav-link">Log in</a></router-link>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import { Stock } from '../model/Stock';
import { Portfolio } from '../model/Portfolio';
import State from '../model/State';
import { authentication } from '../store/authentication';

const stocksNamespace: string = 'stocks';
const portfoliosNamespace: string = 'portfolios';
const authNamespace: string = 'authentication';

@Component
export default class Header extends Vue {

    public isDropdownOpen: boolean = false;

    @Getter('funds') funds!: number;
    @Getter('stocks', { namespace: stocksNamespace }) stocks!: Stock[];
    @Getter('portfolios', { namespace: portfoliosNamespace }) portfolios!: Portfolio[];
    @Getter('authenticated',  { namespace: authNamespace }) authenticated!: boolean;
    @Getter('username', { namespace: authNamespace }) username!: string;
    @Action('randomizeStocks', { namespace: stocksNamespace }) randomizeStocks: any;
    @Action('saveData') saveState: any;
    @Action('loadData') loadState: any;
    @Action('logout', { namespace: authNamespace }) logout: any;

    endDay() {
        this.randomizeStocks();
    }

    saveData() {
        this.saveState(new State(this.stocks, this.portfolios, this.funds));
    }

    loadData() {
        this.loadState();
    }

    get isAuth() {
      return this.authenticated;
    }

}

</script>

<style scoped>
  nav {
    border: 1px solid #DDDDDD;
  }
  a {
    cursor: pointer;
  }

  .dropdown-menu {
    height: 0px;
    overflow: hidden;
    display: block !important;
    border: none;
    padding: 0px;
    transition: height 0.5s cubic-bezier(1,.01,.98,.66);
  }

  .dropDown {
    height: 75px;
    transition: height 0.5s cubic-bezier(1,.01,.98,.66);
  }
</style>