<template>
  <div class="container">
    <h1>Trade or View your Portfolio</h1>
    <h6>You may Save & Load your Data</h6>
    <h6>Click on 'End Day' to begin a New Day</h6>
    <hr>
    <p>Your Funds: {{funds | currency}}</p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component
export default class HomeComponent extends Vue {
  @Getter('funds') funds!: number;
}
</script>

<style scoped lang="scss">
</style>
